/*
1. posicionamiento 
2. modelo caja (box model)
3. tipografia
4. visuales
5. otros 
*/
:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;

}
* {box-sizing: border-box;
margin: 0;
padding: 0;
}
html {
    font-size:62.5%;
    font-family: ´DM sans´, sans-serif;
}